RewriteEngine On

# Jangan redirect jika request berupa POST (agar data form login tidak hilang)
RewriteCond %{REQUEST_METHOD} !POST

# 1. Hapus 'index.html' dari URL
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*index\.html\ HTTP/
RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

# 2. Redirect .html ke Clean URL (Hanya untuk request GET)
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# 3. Internal Rewrite: Petakan Clean URL ke file .html fisik
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
